.popup__container {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 195px;
  padding: 34px 36px 37px 36px;
  display: none;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    top: 123px;
    padding: 25px 22px;
  }
}