.profile__button_add {
  border-radius: 2px;
  width: 100%;
  border-width: 2px;
  padding: 14px 0;
  max-width: 150px;
}

@media screen and (max-width: 767px) {
  .profile__button_add {
    width: 100%;
    padding: 17px 0;
    max-width: 282px;
  }
}