.popup__submit {
  width: 100%;
  border-radius: 2px;
  border: none;
  background: #000000;
  color: #ffffff;
  padding: 16px 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

.popup__submit:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .popup__submit {
    font-size: 14px;
  }
}